#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.container table {
  width: 80%;
  margin-top: 8rem;
}

.container table thead tr {
  height: 50px;
  background: #eee;
  color: #333;
}

.container table tbody tr td {
  padding: 10px;
}

.container table tbody tr:nth-of-type(even) {
  background-color: #494646;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  position: fixed;
  top: 0px;
  width: 100%;
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #333;
  border-radius: 100%;
  transition: transform;
  animation: logo-spin 0.5s linear infinite;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
